.liSecurityPhone::before{
    display: block;
    content: '>';
    margin-right: 3px;
    color:'#23366f';
    font-size: 20px;
}

.liCoberturas::before{
    display: block;
    content: '>';
    margin-right: 3px;
    color:'#23366f';
    font-size: 20px;
}